@import "tailwindcss";

/* Animații personalizate */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}

/* Stiluri globale pentru scrollbar (Cyberpunk style) */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff00ff; /* Acesta este magenta pur HEX */
}